@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.font-inter {
    font-family: 'Inter', sans-serif;
}

.category-btn:focus {
    background-color: #ff0000;
    color: white;
}

.error-container {
    height: 60vh;
}